body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/bg-image.jpeg);

}

/* Register start */
.register-title {
  display: flex;
  justify-content: center;
}

.password-aline {
  display: flex;
  gap: 3px;
}

/* Register end */



/* Login start */
.login-form {
  width: 350px;
  padding: 20px;
}

.pass {
  border: 2px solid gray;
  margin-top: 5px;
}

.btn-primary {
  display: flex;
  justify-content: center;
  margin-left: 47px;
  width: 200px;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login end */

/* /* forgot password start  */
div .submit-button {
  display: flex;
  justify-content: center;
  border-radius: none;
}

/* forgot password end */