body {
  background: -webkit-radial-gradient(
    circle,
    hsla(12, 100%, 48%, 1) 0%,
    hsla(0, 2%, 46%, 1) 97%
  );
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

/* Register start */
.registration-form {
  border: 2px solid white;
  width: 35em;
}
/* Register end */

/* Login start */
.login-form {
  width: 350px;
  padding: 20px;
}

.login-container {
  border: 4px solid gray;
}

.pass {
  border: 2px solid gray;
  margin-top: 5px;
}

#login-div {
  box-shadow: 5px 5px 10px rgba(251, 255, 0, 0.541);
  width: 100%;
  height: 100%;
  border-radius: 2px;
  margin-bottom: -10px;
  background: url("https://i.pinimg.com/736x/85/c9/4b/85c94b65b5c4e1ae70c74a9179a2412d.jpg")
    center no-repeat;
  background-size: cover;
  filter: contrast(80%);

  .logo-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
  }
}

.lg-content {
  box-shadow: 0 0 15px black;
  height: 28em;
  margin-top: -1em;
  padding: absolute;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  #login-div {
    border: 2px solid rgb(216, 107, 18);
    width: 100%;
    margin-top: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 601px) {
  #login-div {
    width: 100%;
    border: 2px solid green;
  }
}

@media only screen and (max-width: 768px) {
  #login-div {
    width: 100%;
    border: 2px solid rgb(13, 0, 128);
  }
}

@media only screen and (min-width: 992px) {
  #login-div {
    width: 100%;
    border: 2px solid rgb(100, 128, 0);
  }
}

@media only screen and (min-width: 1200px) {
  #login-div {
    width: 100%;
    border: 2px solid rgb(182, 0, 152);
  }
}

.image {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.589);
}

/* Login end */

/* /* forgot password start  */

.image {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.589);
}

/* forgot password end */

/* passwordverification start */
.Password-verification-contaner {
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(251, 255, 0, 0.541);
}

/* Passwordverification end */

/* navbar start */

@media only screen and (max-width: 600px) {
  .nav-style {
    width: 100%;
  }
  .navbar-toggler {
    background-color: rgba(236, 160, 18, 0.603);
  }
}

@media only screen and (min-width: 601px) {
  .nav-style {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .nav-style {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .nav-style {
    width: 100%;
  }

  .navbar-nav-scroll {
    width: 30em;
  }

  .good .navbar-nav-scroll .nav-item .nav-link {
    font-size: 0.86em;
    font-weight: 500;
    justify-content: center;
  }

  .navbar-nav-scroll {
    margin-left: -45px;
  }

  .search {
    width: 250px;
    gap: 1px;
  }

  .proflie {
    margin-left: -45px;
  }
}

@media only screen and (max-width: 1198px) {
  .nav-style {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbar-nav-scroll {
    width: 30em;
  }

  .good .navbar-nav-scroll .nav-item .nav-link {
    font-size: 1em;
    font-weight: 500;
    justify-content: center;
  }

  .navbar-nav-scroll {
    margin-left: 10px;
    width: 35em;
    /* border: 2px solid red; */
  }
  .nav-nn {
    margin-right: 20px;
    margin-left: 5px;
  }

  .search {
    width: 250px;
    margin-left: -10px;
    gap: 1px;
  }

  .proflie {
    margin-left: -45px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-style {
    width: 100%;
  }

  .navbar-nav-scroll {
    width: 35em;
  }

  .good .navbar-nav-scroll .nav-item .nav-link {
    font-size: 1em;
    font-weight: 400;
    justify-content: center;
  }

  .navbar-nav-scroll {
    margin-left: -45px;
  }
  .nav-nn {
    margin-right: 33px;
    margin-left: 5px;
  }

  .search {
    width: 300px;
    margin-left: -110px;
    gap: 1px;
  }

  .proflie {
    margin-left: -45px;
  }
}

/* navbar end */

/* top-content-start */
.tech-2 {
  object-fit: cover;
  object-position: center;
  width: 17em;
  height: 20em;
}

.top-content {
  width: 100%;

  .story-content {
    width: 19em;
    transition: box-shadow ease 0.5s;
  }

  .story-content:hover {
    box-shadow: 3px 2px 15px rgb(240, 182, 25);
  }
}
/* top-content-end */

/* hero section-start */
.hero-col {
  background-color: white;
  width: 100%;
  position: relative;
  margin-top: -8px;
}

.buttons-links {
  display: flex;
  gap: 15px;
}

.descip-container {
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgb(177, 236, 177);
  box-shadow: 3px 5px 5px rgb(148, 148, 148);
  margin-bottom: 5px;
}

@media (width <= 600px) {
  .descip-container {
    width: 100%;
  }

  .img-2 {
    border: 2px solid red;
  }

  .heading {
    font-size: 14px;
    margin-left: 10px;
  }

  .img-1 {
    margin-right: 5px;
  }

  .lead {
    /* border: 2px solid rgb(52, 221, 29) */
    font-size: medium;
    margin-top: 10px;
  }
}

/* @media for hero-section */

@media (width <= 600px) {
  .hero-col {
    width: 100%;
  }
}

/* hero-section-end */

/* futered articles-start */

.category-image {
  width: 100%;
  height: 300px;
  margin-bottom: 1px;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
}
.category-image:hover {
  box-shadow: 3px 2px 15px rgb(240, 182, 25);
  transition-delay: boxshadow 4s;
}

.background {
  border: transparent;
  margin-bottom: 10px;
  margin-top: 5px;
}

.para {
  width: 100%;
  transition: color 0.15s ease;
  text-align: center;
}

.para:hover {
  color: rgb(0, 80, 0);
}

/* featured articles-start */

/* Individualarticlepage start */

section.bor {
  border: 3px solid green;
  display: flex;
  box-sizing: border-box;
  flex-grow: inherit;
  align-items: center;
  width: 200vh;
  margin-top: -300px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 36px;
  border-style: groove;
  cursor: pointer;
}

.profile-pic img:hover {
  border-end-end-radius: 7px;
  box-shadow: 3px 3px 15px orange;
}

.searchnav {
  width: 450px;
  justify-content: center;
  position: relative;
  margin-left: 80px;
  width: 28%;
}

.search-nav {
  display: flex;
  gap: 3px;
  position: inherit;
}

div .linksection {
  width: 35rem;
}

div .linksection span a {
  text-decoration: none;
  color: gray;
  font-family: sans-serif;
  font-size: 15px;
}

div .linksection span a:hover {
  color: rgb(253, 118, 64);
  border-bottom: 2px solid orangered;
  border-bottom-width: 3px;
}
/* Individualarticlepage end */
/* background-start */
.profile-imagebackground {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
  margin-top: 10px;
  background: url(./assets/images/Bike.jpeg);
  background-size: cover;
  background-position: center;
}
/* background-End */

/* create password start */
.par {
  font-size: 34px;
  background: url(./assets/images/science.jpeg);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: center;
  color: transparent;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 50em;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background: url(./assets/images/Automotive.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  stroke-opacity: inherit;
}
.confirm:hover {
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 5px 5px 15px orange;
}
/* create password end */

/* contact-start */
.eclipse {
  margin-left: 750px;
  margin-top: -125px;
  padding-bottom: -300px;
  height: 150px;
  width: 150px;
  opacity: 0.5;
  border-radius: 100px;
  background: rgb(224, 218, 218);
  z-index: -1;
  box-shadow: 5px 3px 15px rgb(240, 182, 25);
}

/* contact-end */

/* socillinks start */
.social {
  display: flex;
  justify-content: center;
  margin-left: -10px;
}

.para5 {
  cursor: pointer;
  margin-top: -3px;
  margin-left: 5px;
}

.para5:hover {
  color: rgb(0, 49, 0);
}

.im-s:hover {
  box-shadow: 3px 3px 10px rgb(252, 139, 10);
  transition: boxshadow 18s ease-in;
}
/* socillinks end */

/* footer start */

.contact-container {
  background-color: rgb(255, 166, 0);
}

.form-floating input {
  border: 3px solid coral;
  background: transparent;
  border-right: none;
  border-start-end-radius: 0px;
  border-end-end-radius: 0px;
}

.form-floating input::placeholder {
  color: white;
}

@media (max-width: 600px) {
  .contact-container {
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-right: 1px;
    padding-left: 1px;
  }

  .form-floating {
    background-color: #1877f2;
    position: absolute;
    width: 30%;
  }
}

.num {
  background-color: rgb(66, 66, 66);
}

.contact-heading,
.p1 {
  color: rgb(255, 123, 0);
}

.vvvv {
  background: -webkit-radial-gradient(
    circle,
    hsla(12, 100%, 48%, 1) 0%,
    hsla(0, 2%, 46%, 1) 97%
  );
}

.contact-body {
  background-color: rgb(5, 5, 78);
}

.contact-content {
  background: url("https://i.pinimg.com/564x/89/3b/82/893b822b5c52c604a002f0d4f788cca6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer end */

@media (min-width: 601px) {
  .top-stories {
    overflow: hidden;
    width: 100%;
  }
}

/* contact us start */
.card-2 {
  border: 5px solid rgba(167, 167, 167, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-2:hover {
  box-shadow: 3px 3px 10px rgb(252, 139, 10);
}
/* coontact us end */

/* top-aticles-start */

.futured-title {
  background: url("https://img.freepik.com/premium-photo/palm-trees-tropical-island-with-turquoise-ocean-blue-sky_1015980-564269.jpg?w=360");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 2;
}

.floating {
  -webkit-animation: movebounce 5s linear infinite;
  animation: movebounce 5s linear infinite;
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* top-articles-end */
.h5-title {
  cursor: pointer;
  color: white;
}

.h5-title:hover {
  color: rgb(253, 118, 64);
}

/* top articles start */
.top-container {
  overflow: hidden;
  width: 100%;
}

.move-paragraph {
  display: inline-block;
  animation: move-paragraph 40s linear infinite;
}

@keyframes move-paragraph {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Top articles end */

/* @media for the register form */
@media (max-width: 1180px) {
  .mentor {
    margin: 0 auto;
    height: 50px;
  }
}

@media (max-width: 1184px) {
  .mentor {
    margin: 0 auto;
  }
}
/* @media for the register form */

/* home page responsivenes */

@media only screen and (width <= 600px) {
  .homepage {
    width: 100%;
    background-color: rgb(27, 44, 77);
  }
}
/* resposiveness ends */

/* trending-content-start */

@media only screen and (width <= 600px) {
  .trending-container {
    font-size: small;
    position: relative;
    overflow: scroll;
  }
}

/* trending-cntent-end */

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 3;
}

.product-description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 3;
}

.product-title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  cursor: pointer;
}

.product-title:hover:active {
  -webkit-line-clamp: 3;
  line-clamp: 2;
}

/* read content start */
.nav-content {
  height: 10vh;
  border-top: 7px solid rgb(248, 114, 4);
  border-bottom: 7px solid rgb(248, 114, 4);
  width: 85%;
  margin: 0 auto;
  margin-top: 6rem;
}

.aurthor-information {
  width: 85%;
  margin: 0 auto;

  .heading-t {
    font-size: 4em;
    width: 11.5em;
  }
}

.stunning-image {
  width: 25em;
  height: 20em;
  margin-left: 0.8em;
  object-fit: cover;
  object-position: center;
}

.social-links {
  width: 15rem;
}
.social-links i.h:hover {
  color: #e1306c;
}

.social-links i.j:hover {
  color: #1da1f2;
}

.social-links i.k:hover {
  color: #1877f2;
}

.social-links i.l:hover {
  color: #ff4500;
}

.verticle-one {
  width: 85%;
  height: 110vh;
  margin-left: 7.5%;
  position: relative;
}

.verticle-one .vert-3 {
  width: 40%;
  img {
    width: 20em;
    height: 15em;
    object-fit: cover;
    object-position: center;
    position: absolute;
  }
}

.verticle-two {
  width: 70%;
}

.plans-image {
  width: 10em;
  height: 10em;
  z-index: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 37%;
  position: absolute;
  top: 5;
}

.float-right {
  display: flex;
  float: right;
  width: 21rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  z-index: 100;
  margin-left: 50%;
  position: sticky;
  position: sticky;
  margin-top: -70px;
}

.other-centent {
  z-index: 100;
  margin-top: -6rem;
}

.lorem {
  z-index: 100;
  margin-left: 50%;
  margin-top: -30em;
}

.float-img {
  width: 20rem;
  height: 12rem;
  object-fit: cover;
}

.float-img-2 {
  width: 20rem;
  margin-top: -0.5em;
  height: 10.3rem;
  object-fit: cover;
  object-position: center;
}

.social-linkz {
  width: 85%;
  margin: 0 auto;
}

.comment-form {
  width: 21rem;
  height: 3.5rem;
  background: url("https://i.pinimg.com/564x/52/4a/0a/524a0a622002706229b77c02ea164963.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;

  input {
    height: 3rem;
    outline: inset;
  }

  button {
    height: 3.3rem;
    background-color: #ff4500;
    border: none;
    width: 6.5rem;
    border-radius: 0.2rem;
  }
}

.description {
  width: 26rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 3;
}

/* read content end */

/* comments-part-start */

.comments-part-1 {
  transition: box-shadow 0.5s ease;
}

.comments-part-1:hover {
  box-shadow: 2px 3px 15px rgb(120, 153, 127);
}

/* comments-part-end */

/* footer start */

/* footer end */

/* profile-navbar start */
.profile-navbar {
  width: 100%;
  height: 5rem;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: border ease 0.1s;
}

.profile-navbar:hover {
  border: 2px solid rgb(89, 107, 89);
}

.profile-page-color {
  background-color: rgb(5, 5, 78);
}

.pro-page-container {
  background-color: white;
  border-left: 2px solid rgb(253, 118, 64);
  border-right: 2px solid rgb(253, 118, 64);
}

.profile-section {
  border: 2px solid yellow;
  border-top: none;
  width: 23%;
  height: 100vh;
  border-start-end-radius: 20px;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  transition: box-shadow ease-out 0.3s;
}

.profile-section:hover {
  box-shadow: 2px 2px 5px rgb(131, 128, 128);
}

.icon-btn {
  width: 3em;
  height: 3em;
  border: 3px solid orangered;
  border-radius: 100%;
  outline: invert;
}

.main-content {
  border: 3px solid yellow;
  height: 30vh;
  margin-top: 40%;
}

.profile-container-5 {
  width: 70%;
  height: 50vh;
  z-index: 100;
}

.profile-img-4-container {
  border: 2px solid rgb(250, 201, 111);
  position: relative;
  width: 60%;
  transition: box-shadow ease 0.3s;

  img {
    border: 2px solid rgb(82, 82, 82);
    width: 7em;
    height: 7em;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.profile-img-4-container:hover {
  box-shadow: 2px 5px 4px rgb(190, 187, 187);
}

.container-5 {
  border: 2px solid rgb(250, 201, 111);
  width: 35%;
  transition: box-shadow ease 0.4s;
}

.container-5:hover {
  box-shadow: 2px 5px 4px rgb(190, 187, 187);
}

/* profile-navbar end */

.content-list i {
  transform: scaleX(-1);
  filter: blur(2px);
}

.side-info {
  border: 2px solid rgb(250, 201, 111);
  width: 13em;
  height: 17em;

  ol {
    line-height: 1.5em;
  }
}

/* From Uiverse.io by Pradeepsaranbishnoi */
.🤚 {
  --skin-color: #e4c560;
  --tap-speed: 0.6s;
  --tap-stagger: 0.1s;
  position: relative;
  width: 80px;
  height: 60px;
  margin-left: 80px;
}

.🤚:before {
  content: "";
  display: block;
  width: 180%;
  height: 75%;
  position: absolute;
  top: 70%;
  right: 20%;
  background-color: black;
  border-radius: 40px 10px;
  filter: blur(10px);
  opacity: 0.3;
}

.🌴 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--skin-color);
  border-radius: 10px 40px;
}

.👍 {
  position: absolute;
  width: 120%;
  height: 38px;
  background-color: var(--skin-color);
  bottom: -18%;
  right: 1%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-20deg);
  border-radius: 30px 20px 20px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.👍:after {
  width: 20%;
  height: 60%;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -8%;
  left: 5px;
  border-radius: 60% 10% 10% 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.👉 {
  position: absolute;
  width: 80%;
  height: 35px;
  background-color: var(--skin-color);
  bottom: 32%;
  right: 64%;
  transform-origin: 100% 20px;
  animation-duration: calc(var(--tap-speed) * 2);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: rotate(10deg);
}

.👉:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 30px;
  background-color: var(--skin-color);
  bottom: 8%;
  right: 65%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-60deg);
  border-radius: 20px;
}

.👉:nth-child(1) {
  animation-delay: 0;
  filter: brightness(70%);
  animation-name: tap-upper-1;
}

.👉:nth-child(2) {
  animation-delay: var(--tap-stagger);
  filter: brightness(80%);
  animation-name: tap-upper-2;
}

.👉:nth-child(3) {
  animation-delay: calc(var(--tap-stagger) * 2);
  filter: brightness(90%);
  animation-name: tap-upper-3;
}

.👉:nth-child(4) {
  animation-delay: calc(var(--tap-stagger) * 3);
  filter: brightness(100%);
  animation-name: tap-upper-4;
}

@keyframes tap-upper-1 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(0.4);
  }

  40% {
    transform: rotate(50deg) scale(0.4);
  }
}

@keyframes tap-upper-2 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(0.6);
  }

  40% {
    transform: rotate(50deg) scale(0.6);
  }
}

@keyframes tap-upper-3 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(0.8);
  }

  40% {
    transform: rotate(50deg) scale(0.8);
  }
}

@keyframes tap-upper-4 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(1);
  }

  40% {
    transform: rotate(50deg) scale(1);
  }
}

/* From Uiverse.io by Nawsome */
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
/* proffi-start */
.profi-1 {
  object-fit: cover;
  object-position: center;
  width: 4em;
  height: 4em;
  border: 2px solid whitesmoke;
  border-radius: 100%;
}

.profi-sb {
  border-bottom: 2px solid yellow;
}

.profi-info {
  box-shadow: 0px -2px 15px rgb(168, 180, 144);
}

.profi-con {
  width: 8em;
  border-end-end-radius: 1em;
  border-top-right-radius: 1em;
  transition: background, ease 1.5s;
}

.profi-con:hover {
  background: #f1e7e7;
  color: rgb(56, 54, 54);
  cursor: pointer;
  box-shadow: 1px 3px 5px rgb(226, 138, 5);
}
