body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/bg-image.jpeg);

}

/* Register start */
.register-title {
  display: flex;
  justify-content: center;
}

.register-container {
  box-shadow: 5px 5px 10px rgba(251, 255, 0, 0.541);
}

.password-aline {
  display: flex;
  gap: 3px;
}

.image {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.589);
}

/* Register end */



/* Login start */
.login-form {
  width: 350px;
  padding: 20px;
}

.login-container {
  border: 4px solid gray;
}

.pass {
  border: 2px solid gray;
  margin-top: 5px;
}

.login-div {
  box-shadow: 5px 5px 10px rgba(251, 255, 0, 0.541);
}

.image {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.589);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login end */

/* /* forgot password start  */

.image {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.589);
}

/* forgot password end */

/* passwordverification start */
.Password-verification-contaner {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(251, 255, 0, 0.541);
}

/* Passwordverification end */


/* navbar start */

.navbar-container {
  display: flex;
  margin-top: -326px;
  width: 100wh;
}

/* navbar-end */